$background-color: #ffebd3;
$splash-desktop: "/images/home/oysters.jpeg";
$splash-mobile: "/images/home/oysters.jpeg";
$breakpoint-1: 480px;
$breakpoint-2: 768px;
$breakpoint-3: 1280px;
$color: #680017;
$color-link: #1b5919;
$color-nav: #c59d6d;
$font: Averia;
$font-heading: Bembo;
$marker-image: '/icons/oyster.png';
