@import "config";

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	background-color: rgba($background-color, 0.6);
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

.heading {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


img {
	max-width: 100%;
	display: block;
}

.logo {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.title {
	font-size: 4rem;
	font-weight: bold;
	margin-left: 2rem;
}
